<div>
    <h1>Simulation</h1>
    {{ video|safe }}
</div>
<hr>
<div>
    <h1>Raw data</h1>
    <table style="overflow-y:scroll; height:200px; display:block;">
        <thead>
            <tr>
                <th>Velocity (m/s)</th>
                <th>Particles</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in raw_data %}
                <tr>
                    {% for column in entry %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<button onclick="location.href = '/'">Go back</button>



